name: Build
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    container: nimlang/choosenim
    strategy:
      matrix:
        nim: [2.0.0, 1.6.14]
    steps:
      - uses: actions/checkout@v1
      - run: choosenim update -y ${{ matrix.nim }}
      - run: git config --global --add safe.directory "$(pwd)"
      - run: nimble test -y

  example:
    runs-on: ubuntu-latest
    container: nimlang/choosenim
    strategy:
      matrix:
        nim: [1.6.14, 2.0.0]
    steps:
      - uses: actions/checkout@v1
      - run: choosenim update -y ${{ matrix.nim }}
      - run: git config --global --add safe.directory "$(pwd)"
      - run: nimble develop -y
      - run: cd example && nimble -y build
